/******************************************************************

// pc用スタイル (1180px以上で適用)

******************************************************************/
.font-sm{
	font-size: 16px;
}

.font-md{
	font-size: 19px;
}

.font-lr{
	font-size: 23px;
}

.font-lg{
	font-size: 36px;
}

.mb-lg{
	margin-bottom: 160px !important;
}

.pb-lg{
	margin-bottom: 160px !important;
}

.news{
	&__item{
		flex-basis: 23%;
	}

	&__img{
		height: 280px;
	}
}

.new-member{

	&__inner{
		padding: 50px 150px;
	}
	&__img{
		height: 400px;
	}

	&__description{
		margin-bottom: 40px;
	}
}

.footer{
	&__li{
		margin-right: 100px;
	}
}

.header{
	&__nav{
		display: block;
	}

}

.mobile-menu{
	&__btn{
		display: none;
	}
}

.side{
	display: block;
}

.swiper-slide{
	box-shadow: 0 8px 40px -10px rgba(0,0,0,.8);
}